body {

}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f1f1f1;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

a:hover {
    background-color: #1EFC1E;
}

div.center{
  text-align: center;

}

div.center ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;

    overflow: auto;
}

div.center ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
